<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="public/style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm">
        <div class="container">
          <a class="navbar-brand me-5" href="#"><img style="width:50px;" src="public/images/brandred.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active fw-bold text-danger" aria-current="page" href="/">Home</a>
              </li>
              {{if .Flash.FlashStatus}}
              <li class="nav-item">
                <a class="nav-link" href="/myProject">Add Project</a>
              </li>
              {{end}}
            </ul>
            <div>
              {{if .Flash.FlashStatus}}
             
              {{.Flash.FlashName}} <i class="fa-regular fa-user me-4"></i> 
              <a href="/logout"> <i class="fa-solid fa-right-from-bracket fa-xl me-4" style="color: rgb(218, 12, 12);"></i></a>
              {{else}}
              <a href="/login"><button type="button" class="btn btn-outline-secondary px-3 me-3"><i class="fa-solid fa-arrow-right-to-bracket me-2"></i>Login</button></a>
              {{end}}
              <a href="/contact"><button type="button" class="btn btn-dark px-3">Contact me</button></a>
            </div>
          </div>
        </div>
      </nav>
    <!-- END Navbar -->
    <!-- alert -->
    {{if .Flash.FlashStatus}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Login Success!</strong> you could add New Project now.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{end}}
    <!-- end alert -->
    <!-- Profile Section -->
      <div class="container mt-5 bg-light d-flex rounded-3 p-5 shadow-lg">
        <div class="row justify-content-center mt-4">
            <div class="col-md-7 justify-content-center">
                <div class="col-md-12">
                    <h1 class="fw-bold">Hi Welcome to my Hut</h1>
                    <h3 class="fw-bold">{{.Flash.FlashName}}</h3>
                </div>
                <div class="col-md-12 mt-4" style="text-align: justify;">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium facilis consequuntur necessitatibus Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium facilis consequuntur necessitatibus doloremque dolorem adipisci deleniti ut odit, ab laboriosam cum dolore sit voluptatum possimus assumenda corrupti. Amet, temporibus. Praesentium reiciendis voluptate, accusantium dolorem quas reprehenderit, sint, quasi atque impedit adipisci beatae fuga quis. Voluptatibus, sit. Voluptas sequi itaque perferendis esse, ea velit vitae, cumque, minima perspiciatis hic vero.</p>
                </div>
                <div class="col-md-12 mt-5">
                    <button type="button" style="width: 120px; display: inline;" class="btn btn-dark rounded-5 fs-5 text-center justify-content-center align-items-center">contact</button>
                    <span class="fw-semibold fs-5 ms-4">Download CV <span><i class="fa-solid fa-download"></i></span></span>
                </div>
                <div class="col-xl-4 mt-5">
                    <i class="fa-brands fa-linkedin fa-2xl me-4"></i>
                    <i class="fa-brands fa-square-instagram fa-2xl me-4"></i>
                    <i class="fa-brands fa-facebook fa-2xl me-4"></i>
                    <i class="fa-brands fa-square-twitter fa-2xl me-4"></i>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-sm-- container shadow-lg rounded-4 mt-4 text-center justify-content-center">
                <img style="width: 100%;" src="public/images/me.jpg" alt="">
                <h4 class="mt-2">
                    Jeri Utama
                </h4>
                <h6 class="">
                    Fullstack Developer
                </h6>
            </div>
        </div>
      </div>
    <!-- End Profile -->

    <!-- My Project -->
    <div class="container bg-light mt-5">
        <div class="row justify-content-center">
            <div class="col text-center m-5">
                <h1>My Project</h1>
            </div>
        </div>
        
        <div class="row mt-4 justify-content-around gap-3">
          {{range $index, $data := .Project}}
            <div class="col-lg-3 col-md-5 col-sm-10 bg-light shadow-lg rounded-4 mt-4">   
                <img class="rounded-3" src="/upload/{{$data.Image}}" alt="" style="width:100%; height: 200px;">
                <a style="text-decoration: none; color: black;" href="/detailProject/{{$data.Id}}"><h5 class="mt-3 mx-3">{{$data.Title}}</h5></a>
                <h6 style="color: rgb(158, 158, 158); display: inline; " class="mx-3">{{$data.Duration}}</h6><div class="" style=" color: grey; font-weight: bold; font-size: small; display: inline;"> | {{$data.Author}}</div>
                <div class="mx-3 my-3" style="text-align: justify; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{$data.Content}}</div>
                
                <div class="ms-3">
                  {{range $index, $data := $data.Tech}} 
                  <i class='{{$data}}'></i>
                  {{end}}
                  
                </div>
                
                <div class="m-3 d-flex gap-2 mb-4">
                  {{if $.Flash.FlashStatus}}
                  <a style="width: 100%;" href="/editProject/{{$data.Id}}"><button style="width: 100%;" class="btn btn-dark rounded-3"> edit </button></a>
                  <a style="width: 100%;" href="/deleteProject/{{$data.Id}}"><button style="width: 100%;" class="btn btn-dark rounded-3"> hapus </button></a>
                  {{end}}
                  </div>
                
            </div>
          {{end}}
        </div>
        
    </div>
        
    </div>
</body>
</html>